@import "../scss/var";
@import "~bootstrap/scss/bootstrap";
body {
  display: $fl;
  height: 100vh;
  width: 100vw;
  align-items: flex-start;
  justify-content: center;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
form {
  display: $fl;
  margin-top: $gap;
  align-items: center;
  gap: 10px;
  width: 70%;
  white-space: nowrap;
}
.container {
  display: $fl;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#list {
  margin-top: 30px;
  width: 70%;
  list-style: none;
  padding: 0;
  text-align: center;
}
.list-item {
  display: $fl;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $gap;
  background-color: white;
  padding: 10px $gap;
  border-radius: 10px;
  -webkit-box-shadow: 1px 9px 12px 8px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 1px 9px 12px 8px rgba(0, 0, 0, 0.55);
  box-shadow: 1px 9px 12px 8px rgba(0, 0, 0, 0.55);
}
.input-group-text {
  background-color: rgb(147, 183, 224);
}
.form-check-input {
  border: 1px solid black;
}
.error-message {
  color: red;
}
.todo-check {
  cursor: pointer;
}
